html {
  font-size: 16px;
}

main {
  max-width: 980px;
  margin: auto;
}

.section-header {
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

a, a:visited {
  color: blue;
}

.internal-link {
  color: blue;
  display: inline-block;
  border-bottom: 1px dashed;
  cursor: pointer;
}
